.container{
    width: 780px;
    border-radius: 20px;
    padding: 35px 40px;
    background-color: black;
}

.container header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    /* Configuração do gradiente dourado para o texto */
    background: linear-gradient(45deg, #ffd700, #e5aa00);
    -webkit-background-clip: text;
    color: transparent;
    /* Adiciona uma sombra para dar um efeito de brilho no texto */
    text-shadow: 2px 2px 4px rgba(255, 223, 77, 0.8);
}

body {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    color: azure;
    background-image: url('../imagens/beethoven.jpg');
    background-size: cover; 
    background-position: center; /* Centraliza a imagem */
    background-repeat: no-repeat; /* Evita a repetição da imagem */
    background-attachment: fixed; /* Mantém a imagem fixa enquanto a página é rolada */
    margin: 0; /* Remove margens padrão do body */
    padding: 0; /* Remove padding padrão do body */
}

header h2 {
    font-size: 1.6rem;
}

header .column {
    display: flex;
    align-items: center;
}

header .column span {
    font-weight: 500;
    margin-right: 15px;
    font-size: 1.19rem;
}

.volume-slider input {
    accent-color: #ffc413;
}

.keys-check input {
    width: 60px;
    height: 30px;
    appearance: none;
    border-radius: 30px;
    background-color: #4b4b4b;
    cursor: pointer;
    position: relative;
}

.keys-check input::before {
    content: "";
    height: 20px;
    width: 20px;
    background-color: #8c8c8c;
    top: 50%;
    left: 0.3rem;
    border-radius: inherit;
    position: absolute;
    transform: translateY(-50%);
    transition: all 0.3s ease;
}

.keys-check input:checked::before {
    background-color: #ffc413;
    left: 2.1rem;
}

.piano-keys {
    display: flex;
    margin-top: 40px;
}

.piano-keys .key {
    cursor: pointer;
    user-select: none;
    list-style: none;
    color: #a2a2a2;
    position: relative;
    text-transform: uppercase;
}

.piano-keys .white {
    width: 70px;
    height: 230px;
    border-radius: 8px;
    background: linear-gradient(45deg, #f9e572, #e9be40);
    box-shadow: 0 0 10px rgba(255, 223, 77, 0.8);
    border: 2px solid #e5aa00;
}

.piano-keys .black {
    width: 44px;
    height: 140px;
    z-index: 2;
    margin: 0 -22px 0 -22px;
    border: 1px solid black;
    border-radius: 0 0 5px 5px;
    background: linear-gradient(#333, #000);
}

.piano-keys span {
    position: absolute;
    bottom: 20px;
    width: 100%;
    text-align: center;
    font-size: 1.13rem;
}

.piano-keys .white.active {
    box-shadow: inset -5px 5px 20px rgba(0, 0, 0, 0.2);
    background: linear-gradient(to bottom #fff 0%, #eee 100%);
}

.piano-keys .black.active {
    box-shadow: inset -5px 5px 10px rgba(255, 255, 255, 0.1);
    background: linear-gradient(to bottom #000, #434343);
}

.piano-keys .key.hide span {
    display: none;
}


  